<div class="col-10">
    <h2>{{recipes[0].recipeName}}</h2>
    {% for recipe in recipes %}
        {% if recipe.ingredientName %}
            
                <li> {{recipe.ingredientName}} {{recipe.ammount}} </li>
            
        {% endif %}
        {% if recipe.stepText %}
            <br>
            <div class="step"> {{recipe.stepText}} </div>
        {% endif %}
        {% if recipe.recipeText %}
            <br>
            <div class="recipeText"> {{recipe.recipeText}}</div>
        {% endif %}
        {% if recipe.imagePath %}
            <br>
            <img src={{ recipe.imagePath }} alt={{ recipe.imageTitle }}>
            
        {% endif %}
    {% endfor %}
</div>